@media screen and (max-width: 600px){
    .container-home{
        width: 100%;
        .header-image{
            width: 100%;
            height: auto;
            object-position: center;
            img{
                width: 100%;
            }
            .header-container-logued{
                width: 100%;
            }
            .header-container{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                
                .header-container-header{
                    width: 80%;
                    height: auto;
                    display: flex;
                    flex-direction: column;

                    .header-container-header-logo{
                        display: flex;
                        width: 25%;
                        justify-content: center;
                    }
                    .header-container-header-slogan{
                        font-size: 15px;
                        width: 60%;
                    }
                    .header-container-header-register{
                        width: 25%;
                        margin-top: 20px;
                        #register{
                            width: 100%;
                            font-size: 12px;
                        }
                    }
                    .header-container-header-login{
                        width: 25%;
                        margin-top: 20px;
                        #login{
                            width: 100%;
                            font-size: 12px;
                        }
                    }
                }
                
            }
        }
        .last-trips{
            width: 100%;
            height: auto;
            .last-trips-instructions{
                width: 100%;
                height: auto;
                display: flex;
                align-content: center;
                justify-content: center;
                .last-trips-instructions-steps{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .last-trips-instructions-steps-content{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 80%;
                        .step-icon{
                            font-size: 80px;
                        }
                        .step-description{
                            width:40%;
                            margin-left: 50px;
                        }

                    }
                    
                }
            }
            
        }
        .suggestions{
            width: 100%;
            height: auto;
            .suggestions-trips{
                display: flex;
                flex-direction: column;
            }
        }
        
    }
    
}

@media screen and (min-width: 601px) and ( max-width: 1024px ){

}