/*Base*/
@font-face {
  font-family: Pacifico-Regular;
  src: url("../sass/fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Questrial-Regular;
  src: url("../sass/fonts/Questrial-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*UTILITIES*/
/*Fonts*/
/*Colors*/
/**/
/*Gama de colores por definir - Yellows and Blues*/
/*Botones*/
/*Sizes*/
/*Margin and Padding*/
/*centenas*/
/*Media-query*/
/*Porcentjes*/
/*Imagenes-Sizes*/
/*--------------------------------------------------*/
/*Ems*/
/*For Grid*/
#header.cell-1 > div {
  width: 100%; }

#footer.cell-1 > div {
  width: 100%; }

#header.cell-2 > div {
  width: 50%; }

#footer.cell-2 > div {
  width: 50%; }

#header.cell-3 > div {
  width: 33.33333%; }

#footer.cell-3 > div {
  width: 33.33333%; }

#header.cell-4 > div {
  width: 25%; }

#footer.cell-4 > div {
  width: 25%; }

#header.cell-5 > div {
  width: 20%; }

#footer.cell-5 > div {
  width: 20%; }

#header.cell-6 > div {
  width: 16.66667%; }

#footer.cell-6 > div {
  width: 16.66667%; }

/*--------------------------------------------------*/
/*Funciones*/
/*
Se utiliza

  .c-button {
  color: #FF0000;
  border: getBorderSize(2) solid #00FF00;
}

se transforma en

.c-button {
  color: #FF0000;
  border: 20px solid #00FF00;
}
*/
/*COMPONENTS*/
.header-container {
  width: 1440px;
  height: 128px;
  font-family: "Questrial-Regular";
  position: absolute;
  background-color: transparent; }
  .header-container .header-container-header {
    width: 1440px;
    height: 45px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px; }
    .header-container .header-container-header .header-container-header-logo {
      align-items: flex-start;
      margin-right: 350px;
      text-decoration: none; }
      .header-container .header-container-header .header-container-header-logo .logo-link {
        display: flex;
        flex-direction: row;
        font-size: 38px;
        text-decoration: none; }
        .header-container .header-container-header .header-container-header-logo .logo-link .logo-first {
          color: #000000; }
        .header-container .header-container-header .header-container-header-logo .logo-link .logo-second {
          color: #119FDC; }
    .header-container .header-container-header .header-container-header-slogan {
      color: #16191C;
      font-size: 24px;
      margin-right: 300px; }
    .header-container .header-container-header .header-container-header-register #register {
      background-color: red;
      width: 100px;
      height: 35px;
      font-size: 18px;
      border-radius: 6px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
    .header-container .header-container-header .header-container-header-login {
      margin-left: 20px; }
      .header-container .header-container-header .header-container-header-login #login {
        background-color: #0077db;
        width: 100px;
        height: 35px;
        font-size: 15px;
        border-radius: 6px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
  .header-container .modal-register {
    display: flex;
    flex-direction: column; }
  .header-container .modal-login {
    display: flex;
    flex-direction: column; }

.header-container {
  width: 1440px;
  height: 128px;
  font-family: "Questrial-Regular";
  position: absolute;
  background-color: transparent; }
  .header-container .header-container-logued {
    width: 1440px;
    height: 45px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px; }
    .header-container .header-container-logued .header-container-logued-logo {
      align-items: flex-start;
      margin-right: 270px;
      text-decoration: none; }
      .header-container .header-container-logued .header-container-logued-logo .logo-link {
        display: flex;
        flex-direction: row;
        font-size: 38px;
        text-decoration: none; }
        .header-container .header-container-logued .header-container-logued-logo .logo-link .logo-first {
          color: #000000; }
        .header-container .header-container-logued .header-container-logued-logo .logo-link .logo-second {
          color: #119FDC; }
    .header-container .header-container-logued .header-container-header-links {
      color: #16191C;
      font-size: 24px;
      margin-right: 250px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .header-container .header-container-logued .header-container-header-links .header-container-header-links-inicio {
        margin-right: 50px;
        cursor: pointer; }
      .header-container .header-container-logued .header-container-header-links .header-container-header-links-viajes {
        margin-right: 50px;
        cursor: pointer; }
      .header-container .header-container-logued .header-container-header-links .header-container-header-links-actividades {
        margin-right: 50px;
        cursor: pointer; }
      .header-container .header-container-logued .header-container-header-links .header-container-header-links-contacto {
        margin-right: 50px;
        cursor: pointer; }
    .header-container .header-container-logued .header-container-header-userdata {
      color: #16191C;
      font-size: 24px;
      cursor: pointer; }
    .header-container .header-container-logued .header-container-header-logout {
      margin-left: 20px;
      font-size: 25px;
      color: orangered;
      cursor: pointer; }

.container-datauser {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  font-family: "Questrial-Regular"; }
  .container-datauser .datauser-image {
    width: 1440px;
    height: 150px;
    object-fit: cover; }
  .container-datauser .data-profile {
    width: 1440px;
    display: flex;
    flex-direction: column; }
    .container-datauser .data-profile .data-profile-content {
      display: flex;
      flex-direction: column;
      width: 600px;
      margin-left: 700px; }
      .container-datauser .data-profile .data-profile-content .data-profile-content-title {
        font-size: 25px; }
      .container-datauser .data-profile .data-profile-content .form-update-data-label {
        font-size: 25px;
        margin-top: 20px; }
      .container-datauser .data-profile .data-profile-content .form-update-data-input {
        color: blue; }
      .container-datauser .data-profile .data-profile-content .form-update-data-button {
        margin-top: 30px;
        background-color: #119FDC;
        font-size: 25px; }

.container-card {
  width: 300px;
  height: 320px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 18px; }
  .container-card .image.card {
    width: 200px;
    height: 200px; }
  .container-card #avatar {
    border-radius: 50%; }

/*VIEWS*/
.container-home {
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto; }
  .container-home .header-image {
    width: 1440px;
    height: 959px;
    object-fit: cover; }
  .container-home .last-trips {
    width: 1440px;
    height: 400px;
    background-color: lightblue; }
  .container-home .suggestions {
    width: 1440px;
    height: 400px;
    background-color: lightgreen; }

.container-profile {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  font-family: "Questrial-Regular"; }
  .container-profile .profile-image {
    width: 1440px;
    height: 443px;
    object-fit: cover; }
  .container-profile .profile-my-trips {
    width: 1440px;
    height: 443px; }
    .container-profile .profile-my-trips .profile-my-trips-title {
      margin-top: 40px;
      margin-left: 80px;
      font-size: 25px; }
    .container-profile .profile-my-trips .profile-my-trips-resum {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
  .container-profile .profile-my-jointrips {
    width: 1440px;
    height: 443px;
    background-color: #94def5; }
    .container-profile .profile-my-jointrips .profile-my-jointrips-title {
      margin-top: 40px;
      margin-left: 80px;
      font-size: 25px; }

.container-tripview {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  font-family: "Questrial-Regular"; }
  .container-tripview .trip-content {
    width: 1440px;
    height: auto;
    background-color: blanchedalmond; }
    .container-tripview .trip-content .trip-content-global {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 1000px;
      height: 550px;
      border: #a3a0a0 solid 2px;
      margin-left: auto;
      margin-right: auto; }
      .container-tripview .trip-content .trip-content-global .trip-owner {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .container-tripview .trip-content .trip-content-global .trip-owner .trip-owner-description {
          height: 500px;
          border: #a3a0a0 solid 2px; }
          .container-tripview .trip-content .trip-content-global .trip-owner .trip-owner-description .name-and-avatar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly; }
            .container-tripview .trip-content .trip-content-global .trip-owner .trip-owner-description .name-and-avatar .avatar {
              color: hotpink; }
      .container-tripview .trip-content .trip-content-global .trip-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        .container-tripview .trip-content .trip-content-global .trip-info .trip-info-field {
          width: 100%;
          height: 75px;
          border: #a3a0a0 solid 2px; }
        .container-tripview .trip-content .trip-content-global .trip-info .trip-info-field-description {
          width: 100%;
          height: 200px;
          border: #a3a0a0 solid 2px; }
      .container-tripview .trip-content .trip-content-global .trip-joined-users {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .container-tripview .trip-content .trip-content-global .trip-joined-users .trip-joined-users-content {
          height: 500px;
          border: #a3a0a0 solid 2px; }
