.container-card{
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 18px;

    .image-card{
        color: rgb(22, 22, 201);
        font-size: 100px;
    }
    
    .title-card{
        justify-content: center;
    }
    .destination{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        margin-top: 20px;
        .destination-icon{
            color: red;
        }
        .destination-place{
            margin-left: 10px;   
        }
    }
}