.container-home{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;

    .header-image{
        width: 1440px;
        height: 925px;
        margin-left: auto;
        margin-right: auto;
        
    }
    
}