
@font-face {
    font-family: Pacifico-Regular;
    src: url('../sass/fonts/Pacifico-Regular.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Questrial-Regular;
    src: url('../sass/fonts/Questrial-Regular.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}