.container-post-trip{
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-Questrial-Regular;

    .post-form-container{
        width: 1440px;
        height: 600px;
        background-color: #119FDC;
    }
}