.header-container{
    width: $q-xl;
    height: $mp-o;
    font-family: $font-Questrial-Regular;
    position: absolute;
    background-color: transparent;
   
    .header-container-header{
        width: $q-xl;
        height: $size-t+$size-c+$size-a;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        .header-container-header-logo{
            align-items: flex-start;
            margin-right: 350px;
            text-decoration:none;
            
            .logo-link{
                display: flex;
                flex-direction: row;
                font-size: $size-s;
                text-decoration:none;
                .logo-first{
                    color: #000000;
                }
                .logo-second{
                    color: #119FDC;
                }
            }
        }
        .header-container-header-slogan{
            color: #16191C;
            font-size: $size-m;
            margin-right: 300px;
            
        }
        
        .header-container-header-register{
            
            #register{
                background-color: red;
                width: 100px;
                height: 35px;
                font-size: 18px;
                border-radius: 6px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }
        }
        .header-container-header-login{
            margin-left: 20px;
            // margin-right: 100px;
            #login{
                background-color: rgb(0,119,219);
                width: 100px;
                height: 35px;
                font-size: 15px;
                border-radius: 6px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }
        }

    };
    .modal-register{
        display: flex;
        flex-direction: column;
        .modal-register-header{

        }
        .modal-register-body{

        }
        .modal-register-footer{
            
        }
    }
    .modal-login{
        display: flex;
        flex-direction: column;
        
        .modal-login-header{

        }
        .modal-login-body{

        }
        .modal-login-footer{
            
        }
    }
    
};
