.header-container{
    width: $q-xl;
    height: $mp-o;
    font-family: $font-Questrial-Regular;
    position: absolute;
    background-color: transparent;
    display: flex;
   
    .header-container-header{
        width: 100%;
        height: $size-t+$size-c+$size-a;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        .header-container-header-logo{
            width: 20%;
            display: flex;
            justify-content: flex-end;
            text-decoration:none;
            
            .logo-link{
                display: flex;
                flex-direction: row;
                font-size: $size-s;
                text-decoration:none;
                .logo-first{
                    color: #000000;
                }
                .logo-second{
                    color: #119FDC;
                }
            }
        }
        .header-container-header-slogan{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #16191C;
            font-size: $size-m;
            
            
        }
        
        .header-container-header-register{
            width: 10%;
            display: flex;
            justify-content: center;
            #register{
                background-color: red;
                width: 100px;
                height: 35px;
                font-size: 18px;
                border-radius: 6px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }
        }
        .header-container-header-login{
            width: 10%;
            display: flex;
            justify-content: center;
            #login{
                background-color: rgb(0,119,219);
                width: 100px;
                height: 35px;
                font-size: 15px;
                border-radius: 6px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }
        }
        

    };
    
};
.modal-register-footer-bt-register {
    background-color: #119FDC ;
    border-radius: 4px;
}
.modal-register-footer-bt-exit{
    background-color: #b8bcbe ;
    border-radius: 4px;
}