.container-profile{
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-Questrial-Regular;

    .profile-image{
        width: 1440px;
        height: 443px;
        object-fit: cover;
        
    }
    .profile-my-trips{
        width: 1440px;
        height: 443px;
        background-color: lightblue;
        .profile-my-trips-title{
            margin-top: 40px;
            margin-left: 80px;
            font-size: 25px;
            display: flex;
            justify-content: center;
        }
        .profile-my-trips-resum{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .profile-my-trips-resum-show{
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
            }
            .no-trips-to-show{
                margin-top: 40px;
                font-size: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .no-trips-to-show-button{
                    width: 200px;
                    margin-top: 40px;
                    background-color: #119FDC;
                }
            }
        }
    }
    .profile-my-jointrips{
        width: 1440px;
        height: 443px;
        background-color: #1ec0ff;
        .profile-my-jointrips-title{
            margin-top: 40px;
            margin-left: 80px;
            font-size: 25px;
            display: flex;
            justify-content: center;
        }
        .profile-my-jointrips-resum{
            display: flex;
            justify-content: center;
            .profile-my-jointrips-resum-show{
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
            }
            .no-joinedtrips-to-show{
                margin-top: 40px;
                font-size: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .no-joinedtrips-to-show-button{
                width: 230px;
                margin-top: 40px;
                background-color: #119FDC;
            }
        }
    }

    
}