.container-profile{
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-Questrial-Regular;

    .profile-image{
        width: 1440px;
        height: 443px;
        object-fit: cover;
        
    }
    .profile-my-trips{
        width: 1440px;
        height: 443px;
        // background-color: yellowgreen;
        .profile-my-trips-title{
            margin-top: 40px;
            margin-left: 80px;
            font-size: 25px;
        }
        .profile-my-trips-resum{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    .profile-my-jointrips{
        width: 1440px;
        height: 443px;
        background-color: rgb(148, 222, 245);
        .profile-my-jointrips-title{
            margin-top: 40px;
            margin-left: 80px;
            font-size: 25px;
        }
    }

    
}